.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f8f8;
  border-top: solid thin #cccccc;
  padding: 5px;
  height: 45px;
  z-index: 2;
}

.popup {
  width: 300px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9;
}

.popup-button {
  float: right;
  margin-right: 20px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  z-index: -1;
  transition: opacity 1s;
  pointer-events: none;
}

.background.show {
  opacity: 0.3;
}

.background.hide {
  opacity: 0;
}
