.edit-category-popup {
  position: absolute;
  right: 0;
  z-index: 3;
}

.category-background-label-span {
  background: white;
  padding: 2px;
  font-size: 11px;
  border-radius: 10px;
  margin-left: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.category-background-label {
  padding: 2px;
  border-radius: 20px;
  display: run-in;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
